body {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1rem;
    color: #333;
    background-color: snow;
}
a{
    text-decoration: none;
}

header{
    background-color: black;
    color: snow;
    margin-bottom: none;
}
header a:link{
    color: snow;
    
}
header a:visited{
    color: snow;
}
header a:hover{
    color: #ffc300;
    text-decoration: underline;
}
header a:active{
    color: #ffc300;
}

.nav-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

main{
    margin-bottom: 30px;
}

#container1{
    background-image: url(chateau.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;

}

.title-main{
    color: snow;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2.5em;
    flex-basis: 100%;
    text-align: center;
    padding: 15px;

}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

#apropos {
    
width: 90%;
margin-left: auto;
margin-right: auto;
max-width: 1200px;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.container h2{
    font-size: 1rem;
}

.container-flex{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container-flex img{
    width: 200px;
    height: auto;
}

table{
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
  }

  table td:not(:first-child) {
    text-align: right;
  }

footer {
    border-top: 1px solid;
    text-align: center;
    font-size: 0.9rem;
    
}

.containercontact{
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.formrow{
margin-bottom: 10px;
}

abel, input, textarea {
    display: block;
  }
  
  input, textarea {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
  }
  
  input:invalid {
    border: 1px dashed red;
  }
  
  input:valid {
    border: 1px dashed green;
  }
  
  button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
  }
  
  #msg {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .success {
    color: green;
    background-color: lightgreen;
    border: 1px solid green;
  }
  
  .error {
    color: red;
    background-color: lightpink;
    border: 1px solid red;
  }
  
footer a:link{
    color: blue;
}
footer a:visited{
    color: blue;
}

footer a:hover{
    text-decoration: underline;
}